html, body {
  height: 94%;
  background-color: gray;
}

.lightup {
  background-color: #e6f90b;
}

#grid {}

#palette {}

#currentColor {}

.container {
  border-radius: 25px;
  background-color: #e8e8e8;
  height: 100%;
  margin: 1em;
  padding: 1em;
  align-items: center;
  /* display: flex; */
  /* padding-bottom: 200px; */
}

.inner-container {
  background-color: black;
  height: 90%;
  width: 100%;
  margin: auto;
  display: inline-grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  /* grid-template-rows: 50%; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* margin: 2em; */
  /* padding: 2em; */
}

.pixel {
  /* border-radius: 25px; */
  /* background-color: white; */
  margin: 1px;
  /* width: 100%; */
  /* height: 50%; */
}

.palette {
  display: flex;
}

.color-red {
  background-color: red;
}

.color-orange {
  background-color: orange;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-blue {
  background-color: blue;
}

.color-indigo {
  background-color: indigo;
}

.color-violet {
  background-color: violet;
}

.color-white {
  background-color: white;
}

.colors {
  border-radius: 50px;
  height: 3em;
  width: 3em;
  min-height: 3em;
  min-width: 3em;
  margin: .5em;
  box-shadow: 1px 1px 4px;
}

.currentColor {
  border-radius: 0px;
  height: 3em;
  width: 6em;
  min-width: 6em;
  margin: .5em;
  box-shadow: 1px 1px 4px;
}

h2 {
  color: gray;
  text-shadow: 1px 1px .5px;
}